= stylesheet_link_tag 'rails_admin/rails_admin_dropzone'
= javascript_include_tag 'rails_admin/rails_admin_dropzone'

= stylesheet_link_tag 'rails_admin/rails_admin_content_blocks'
= javascript_include_tag 'rails_admin/rails_admin_content_blocks'

/ - @object.blocks.new(content_html: "1")
/ - @object.blocks.new(content_html: "2")
/ - @object.blocks.new(block_type: "image", title: "1111")

- if defined?(NewsBlockImagePrototype)
  .hidden
    = rails_admin_form_for NewsBlockImagePrototype.new, url: new_path('news_block_image_prototype'), as: 'news_block_image_prototype', html: { method: "post", multipart: true, class: "form-horizontal denser", id: "block_image_prototype" } do |form|
      = form.file_field :image

= rails_admin_form_for @object, url: content_blocks_path(@abstract_model, @object.id), as: @abstract_model.param_key, html: { method: "put", multipart: true, class: "form-horizontal denser content_blocks_form", data: { title: @page_name } } do |form|

  = render partial: "rails_admin/main/#{@content_blocks_conf.options[:path]}/#{@content_blocks_conf.options[:base_block]}", locals: {form: form}

  fieldset
    legend
      i.icon-chevron-right
      = "content_blocks"

    - li_template = capture do
      li
        / span.add= "+"
        / span.drag{draggable='true'}= "V/\\"
        / span.content#new_block
        / span.remove= "X"
    #content_blocks.form-group.control-group{style="display:none"}
      = content_tag :div, id: "drag-content-blocks", data:{ template: li_template.html_safe } do
        = form.fields_for :blocks do |ff|
          / span.add= "+"
          span.add= form.link_to_add "new", :blocks, class: "add-content-block"
          span.drag{draggable='true'}= "\\\/ /\\"
          span.content
            / = ff.link_to_remove "XX"
            br
            .form-group.control-group.enum_type
              .col-sm-10.controls
                = ff.select :block_type, @abstract_model.model::BLOCK_TYPES, {}, class: "content-block-type-changer hancock_enum form-control"
            br
            .form-group.control-group.boolean_type
              .col-sm-10.controls
                = ff.check_box :enabled, class: "form-control custom_checkbox"
                span
            br
            - @content_blocks_conf.options[:blocks].each_pair do |name, block_path|
              = content_tag :div, class: "block block-#{name} #{"hidden" if ff.object.block_type.to_s != name.to_s}".strip do
                = render partial: "rails_admin/main/#{@content_blocks_conf.options[:path]}/#{block_path}", locals: {form: form, ff: ff}
            br
            = "order"
            / = ff.text_field :order, class: "order-field"
            = ff.hidden_field :order, class: "order-field"
          / span.remove= "X"
          span.remove= ff.link_to_remove "XX"

      br
      br
      = form.link_to_add "new", :blocks, data: {target: "#content_blocks #drag-content-blocks"}, class: "add-content-block"
      br
      br
  / hardfix
  - params[:return_to] ||= request.original_url
  = render partial: 'rails_admin/main/submit_buttons'



coffee:
  $("#drag-content-blocks > .fields").addClass('content-block')

  window.railsAdminContentBlocks.initDropzone()
  window.railsAdminContentBlocks.initMediumEditor()
