@import 'medium-editor/medium-editor'

.content_blocks_form

  #drag-content-blocks
    margin: 0
    padding: 0
    // width: 200px
    // display: inline-block

    .content-block
      display: block
      background: white
      border-bottom: solid 1px gray
      padding: 20px 10px

      > span
        padding: 20px 10px

      > .drag
        cursor: move

      > .remove
        cursor: move
        .remove_nested_fields
          position: relative

      > .content
        cursor: text


  .highlight
    background-color: #e5e5e5 !important
    &.highlight-error
      background-color: #ee1100 !important
    &.highlight-replace
      background-color: #1100ee !important
    &.highlight-new
      background-color: #223344 !important


  .selected
    background-color: #11ee00 !important

  .extra_buttons
    .btn-info
      display: none

  .list-content
    &.hidden
      display: none
